/routes*.txt
/database/generator_form*
/node_modules
/public/hot
/public/storage
/public/recipe_images
/public/files/*
!/public/files/regulamin.pdf
!/public/files/polityka-prywatnosci.pdf
/public/css/app.css
/public/js/*
/public/js/app.js
/public/fonts
/storage/app/public/excels/*
/storage/framework/sessions/*
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/debugbar
/storage/*.key
/storage/logs/*.log
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.ya
npm-debug.log
yarn-error.log
.editorconfig
.DS_Store
*/.DS_Store